AddDefaultCharset UTF-8

<IfModule mod_alias.c>
# deny hidden folders and files
RedirectMatch 403 /\..*$
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# deny hidden folders and files
RewriteRule "(^|/)\." - [F]

# Redirect www to non-www
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redirect everything to this file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
#RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule php5_module>
# security
php_value session.cookie_httponly true
</IfModule>